body {
    background-color: #1a1a1a;
    padding: 0;
    margin: 0;
    color: #fcbb21;
}

.container-s {
    position: relative;
}
.logo {
    position: absolute;
    left: 50px;
    top: 50px;
}

.navbar-custom {
    background-color: #fcbb21; /* Custom background color */
}

.navbar-custom a{
    margin-right: 20px;
    color: rgb(244, 248, 253);
    text-decoration: none;
}

.footer-custom {
    background-color: #fcbb21;
    position: fixed;
	width: 100%;
	bottom: -200px;
	display: block;
}

.footer-custom:hover {
    bottom: 0;
}

.footer-custom a{
    margin-right: 20px;
    color: rgb(244, 248, 253);
    text-decoration: none;
}