body {
    background-color: #000000;
    padding: 0;
    margin: 0;
    color: #f8cb58;
}


.navfooter {
    position: fixed;
	width: 100%;
    background-color: #f8cb58;
}

.navfooter a {
    color: #696965;
}

.navfooter a:hover {
    color: #000000;
    }


.container-s {
    position: relative;        
}
.logo {
    position: absolute;
    left: 50px;
    top: 50px;
}

.footer-custom {
	bottom: -100px;
	display: block;
    transition: bottom 0.6s;
}

.footer-custom:hover {
    bottom: 0;
}

.footer-custom a{
    margin-right: 20px;
    text-decoration: none;
}