body {
    background-color: #010101;
    padding: 0;
    margin: 0;
    color: #ffc300;
}


.color-navfooter {
    background-color: #ffc300;
}

.color-navfooter a {
    color: #2c2c2c;
}

.color-navfooter a:hover {
    color: #010101;
    }


.container-s {
    position: relative;        
}
.logo {
    position: absolute;
    left: 50px;
    top: 50px;
}

.footer-custom {
    position: fixed;
	width: 100%;
	bottom: -100px;
	display: block;
    transition: bottom 0.6s;
}

.footer-custom:hover {
    bottom: 0;
}

.footer-custom a{
    margin-right: 20px;
    text-decoration: none;
}