{% extends "_base.html" %}
{% load static %}


{% block title %}
  {{ post.title }}
{% endblock title %}


{% block head %}
  <style>
    .container-s {
        position: relative;        
    }
    .logo {
        position: absolute;
        left: 50px;
        top: 50px;
    }

    body {
        background-color: #1a1a1a;
        padding: 0;
        margin: 0;
        color: #fcbb21;
    }
  </style>
{% endblock head %}

{% block content %}
<section class="bsb-blog-5 py-5 py-md-5 py-xl-8">
  <div class="container overflow-hidden Coloryellowblack p-5">
    <div class="row d-flex justify-content-center">
      <div class="justify-content-center rounded Bglight">
        <article>
          <div class="card border-0 bg-transparent">
            <figure class="card-img-top overflow-hidden bsb-overlay-hover">
              <a href="{% url 'blog:blogdetails' post.slug %}">
                <img class="img-fluid bsb-scale bsb-hover-scale-up w-100 mx-auto p-2" loading="lazy" src="{{ post.image.url }}" alt="Description">
              </a>
            </figure>
            <div class="card-body m-0 p-0 ">
              <div class="entry-header mb-3 pl-3">
                <h1 class="card-title entry-title h4">
                    {{ post.title }}
                </h1>
                <p class="date text-muted my-2"><small>Published {{ post.published_date }}</small></p>
                <br>
                <p class="">{{ post.text }}</p>
              </div>
            </div>

          </div>
        </article>
      </div>
{% endblock %}