{% extends "_base.html" %}
{% load static %}

{% block title %}
  {{ bloglist }}
{% endblock title %}

{% block head %}
<h1>Blog</h1>

  <style>
    .container-s {
        position: relative;        
    }
    .logo {
        position: absolute;
        left: 50px;
        top: 50px;
    }

    body {
        background-color: #1a1a1a;
        padding: 0;
        margin: 0;
        color: #fcbb21;
    }
  </style>
{% endblock head %}

{% block content %}
  
{% for post in posts %}

<a href="{% url 'blog:blogdetails' post.slug %}">{{ post.title }}</a>
<p>{{ post.text }}</p>
<img src="{{ post.image.url }}" alt="Description">
<p class="date">
  Published {{ post.published_date }}
  {{ post.text|truncatewords:30|linebreaks }}
  {% endfor %}
{% endblock content %}