{% extends "_base.html" %}
{% load static %}


{% block title %}
  {{ post.title }}
{% endblock title %}


{% block head %}
<h1>Blog Details</h1>
  <style>
    .container-s {
        position: relative;        
    }
    .logo {
        position: absolute;
        left: 50px;
        top: 50px;
    }

    body {
        background-color: #1a1a1a;
        padding: 0;
        margin: 0;
        color: #fcbb21;
    }
  </style>
{% endblock head %}

{% block content %}
 <h1>{{ blog.title }}</h1>
 <p class="date">
 Published {{ post.publish }}
 </p>
 {{ post.text|linebreaks }}

<h1>{{ post.title }}</h1>
<p>{{ post.text }}</p>
<p>Created on: {{ post.created_on }}</p>

{% endblock %}