{% extends "_base.html" %}
{# {% extends "_base.html" %} #}
{% load i18n %}
{% load static %}

{% block title %}404 | {% trans 'FlexRoadShield' %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5 text-center">
        <h1 class="">{% trans '404 Error!' %}</h1>
    </div> 

    <div class="row mt-5 p-5 Coloryellowblack">
        <div class="col-md-12 rounded Bglight text-center pt-5 mt-5">
            <h2 class="center">{% trans 'Oops! There is nothing here!' %}</h2>
            <a href="{% url 'generals:home' %}" class="btn Coloryellowblack my-5">{% trans 'Home' %}</a>
        </div>
    </div>
</div>

{% endblock %}