{% extends "_base.html" %}
{# {% extends "_base.html" %} #}
{% load i18n %}
{% load static %}

{% block title %}500 | {% trans 'FlexRoadShield' %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-4 text-center">
        <h1 class="">{% trans '500 Error' %}</h1>
    </div> <!-- / end of row-->

        <div class="row mt-5 p-5 Coloryellowblack">
            <div class="col-md-12 rounded Bglight text-center pt-5 mt-5">
            <h2 class="text-muted center">{% trans 'There is an error in our server! Please try later or contact admins.' %}</h2>
            <a href="{% url 'generals:home' %}" class="btn Coloryellowblack my-5">{% trans 'Home' %}</a>
        </div>
    </div>
</div>

{% endblock %}
