<footer class="footer-custom text-white text-center text-lg-start fixed-bottom">
  <!-- Grid container -->
  <div class="container p-2">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-6 ">
        <h5 class="text-uppercase">About Us</h5>

        <p>
          FlexRoadShield is a company established in Ontario that makes a new, affordable and high-level models of Flexible Guardrails and Roadside Barriers
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-6">
        <h5 class="text-uppercase">ExtraLinks</h5>

        <ul class="list-unstyled mb-0">
          <li class="nav-item">
            <a href="{% url 'generals:about' %}" class="text-white">ABOUT US</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'generals:projects' %}" class="text-white">PROJECTS</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'generals:services' %}" class="text-white">SERVICES</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'blog:blog_home' %}" class="text-white">BLOG</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'contacts:contacts' %}" class="text-white">CONTACT US</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->
  <!-- Copyright -->
  <div class="text-center p-2">
    © 2023 Copyright: All Reserved!
    <a class="text-white" href="https://FlexRoadShield.com/">FlexRoadShield.com</a>
  </div>
  <!-- Copyright -->
</footer>