
 <nav class="navbar navbar-expand-lg row justify-content-md-center p-5 mb-2 font-weight-bold bg-warning me-auto mb-2 mb-lg-0 navbar-custom">
    <div class="container-fluid ">
      <a class="navbar-brand" style="color: white;" href="#">FlexRoadShield</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mx-auto mb-5 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link link-opacity-50-hover" style="color: white;" onclick="this.style.color='gray'" href="{% url 'generals:home' %}">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-opacity-50-hover" style="color: white;" href="{% url 'generals:about' %}">ABOUT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-opacity-50-hover" style="color: white;" href="{% url 'generals:projects' %}">PROJECTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-opacity-50-hover" style="color: white;" href="{% url 'generals:services' %}">SERVICES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-opacity-50-hover" style="color: white;" href="{% url 'blog:blog_home' %}">BLOG</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-opacity-50-hover" style="color: white;" href="{% url 'generals:contact' %}">CONTACT US</a>
          </li>
          {% comment %}
            
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        {% endcomment %}
      </div>
    </div>
  </nav>