{% extends "_base.html" %}
{% load static %}

{% block title %}
  {{ page_title }}
{% endblock title %}

{% block head %}
  <style>

  </style>
{% endblock head %}


{% block content %}
  <div class="container-s">
      <img src="{% static 'images/FlexRoadShield_re.jpg' %}" alt="FlexRoadShield home page" width="100%" height="auto">
      <img src="{% static 'images/Logo-FRS.png' %}" class="logo" alt="flex road shield logo" width="70px" height="auto">
    </div>
    <div class="container text-center">
        <div class="slogan">
            <h1>
                FlexRoadShield 
              </h1>
              <h3>Flexible road barrier shield</h3>
          </div>
        <p>
        We are updating our website ...
        <br>
        contact us:
        <br>
        <a href="mailto:info@flexroadshield.com">Email</a>
    </p>
  </div>
{% endblock content %}