{% extends "_base.html" %}
{% load static %}

{% block title %}
{{ page_title }}
{% endblock title %}

{% block head %}

{% endblock head %}

{% block content %}
<div class="container text-center body">
  <div class="row">
    <h1>{{ page_title }}</h1>
<section class="">
  <div class="container p-5 Coloryellowblack">
    <div class="row justify-content-md-center rounded Bglight">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <h3>Explore Our Recent Projects</h3> 
        <hr>
      </div> 
    </div>
  </div>
</section>
  </div>
</div>
{% endblock content %}